* {
    /* Свойства для сброса начальных стилей элементов */
    padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #303030;
}

header {
    /* Стили для хедера */
    background-color: #2965F1;
    height: 70px;
}

header span {
    /* Стили для текста в хедере IT-INCUBATOR */
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    margin-top: 23px;
    margin-bottom: 23px;
    margin-right: 1294px;
    
}

.main-section {
    /* Стили для первой секции */
   background-color: #fafaff;
   padding: 60px 0px;
}

.main-title {
    /* Стили для заголовка в первой секции */
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #303030;
    margin-bottom: 20px;
}

.main-text {
    /* Стили для текста в первой секции */
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #303030;
}

.main-image {
    /* Стили для изображения в первой секции */
    max-width: 715px;
}


.about-section {
    /* Стили для второй секции */
    padding: 100px 0px;
}

select {
    /* Стили для выпадающего списка */
    background-repeat: no-repeat;
}

.section-title {
    /* Стили для заголовков во второй секции */
    margin-bottom: 25px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29.05px;
    color: #303030;

}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
    padding: 0px 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    list-style-image: url(/assets/img/Vector.png);
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 0 20px;
}

.label {
    /* Стили для подписей чекбоксов */
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19.36px;
text-align: left;

}

.text-field {
    /* Стили для односточного поля ввода текста */
    width: 330px;
    height: 36px;
    top: 1525px;
    font-size: 16px;
    border-radius: 5px 0px 0px 0px;
    border: 1px solid #303030;
    
}

.btn {
    /* Стили для кнопки */
    width: 125px;
    height: 36px;
    top: 1525px;
    left: 339px;
    border-radius: 5px 0px 0px 0px;
    color: rgb(255, 255, 255);

}

.line {
    /* Стили для линии */
    border: 1px solid #3030304D;
    margin: 60px 0px;
}

table {
    /* Стили для таблицы */
    background: #303030;
    width: 300px;
    height: 196px;
    top: 1681px;
    border: 1px solid #95A1BB;
    font-size: 14px;
    

}

th, td {
    /* Стили для ячеек таблицы */
    padding: 12px 15px;
}

footer {
    /* Стили для футера */
    background-color: #A3A7FF;
    padding: 26px 0px;
    
}

.footer-link {
    /* Стили для футера */
    font-size: 14px;
    color: #2965F1;
    text-decoration-line: none;

}